*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    max-width: 100vh;
    background: url('images/todo-logo.jpg');
    background-size: cover;
    background-position: center;
}

.MainWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 500px;
    border-radius: 10px;
    margin: 50px auto;
}

.loginBox {
  background: transparent;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  padding: 30px;
  border-radius: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
}


.login-Logo {
    font-size: 60px;
    color: #1a5390; 
    margin-bottom: 20px;
}

.loginBox-main{
    padding: 15px 0;
}

.loginBox-main input{
    width: 250px;
    height: 45px;
    /*padding: 10px;*/
    border: none;
    outline: none;
    color: #000;
    border-radius: 5px;
}

.loginBox-main .icon {
    position: fixed;
    line-height: 45px;
    right: 35rem;
    color: black;
    font-size: 1.2em;
    padding: 1px;
}

.forgot-password{
    padding: 10px 0;
    cursor: pointer;
}

.forgot-password a{
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
}

.forgot-password a:hover{
    text-decoration: none;
    color: black;
}

.submit {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#submit{
    padding: 10px;
    border: none;
    outline: none;
    color: #fff;
    background-color: #1a5390;
    transition: all 0.5s ease;
    border-radius: 5px;
    cursor: pointer;
}

#submit:hover{
    color: #000;
    background-color: #1a5390;
    cursor: pointer;
}

.signUp{
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}
.signUp p{
    font-size: 17px;
    font-weight: bold;
    color: #fff;
}

.signUp a{
    text-decoration: none;
    color: #1a5390;
    font-weight: bold;
}

.signUp a:hover{
    text-decoration: none;
    color: black;
}


