*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url('images/todo-logo.jpg');
    margin: 0 auto;
    max-width: 100vh;
    background-size: cover;
    background-position: center;
}

.MainWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 500px;
    border-radius: 10px;
    margin: 50px auto;
}

.signUp-Box {
    background: transparent;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    padding: 30px;
    border-radius: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.signUp-Logo {
    font-size: 60px;
    color: #1a5390; 
    margin-bottom: 10px;
}

.signUp-main {
    padding: 15px 0
}

.signUp-main input{
    width: 250px;
    height: 35px;
    border: none;
    outline: none;
    color: #000;
    border-radius: 5px;
}

.signUp-checkbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.signUp-checkbox a {
    color: black;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
}

#submit {
    padding: auto;
    border: none;
    outline: none;
    color: #fff;
    background: #1a5390;
    border-radius: 5px;
    transition: all 0.5s ease;
    cursor: pointer;
}